:root {
  --main-color: rgb(27, 91, 185);
  --main-color-light: rgba(27, 90, 185, 0.178);
}

html {
  font-size: clamp(10px, 2vw, 22px);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


