.keypadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keypad {
    display: grid;
    grid-template-areas: "btn1 btn2 btn3"
                         "btn4 btn5 btn6"
                         "btn7 btn8 btn9"
                         "btn- btnS btnX"
                         "btnF btnUndo btnSave";
    gap: 2px;
}

.keypad > button {
    margin-top: 0;
    width: clamp(69px, 3rem, 200px);
    height: clamp(69px, 3rem, 200px);
    color: var(--main-color);
    font-size: clamp(20px, .8rem, 69px);
}
.keypad > button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
}
.keypad > button:disabled {
    opacity: .5;
    color: grey
}
.keypad > button:disabled:hover {
    opacity: .5;
    transform: scale(1);
    cursor:default;
    box-shadow: none;
}

.btn1 {
    grid-area: btn1;
}

.btn2 {
    grid-area: btn2;
}

.btn3 {
    grid-area: btn3;
}

.btn4 {
    grid-area: btn4;
}

.btn5 {
    grid-area: btn5;
}

.btn6 {
    grid-area: btn6;
}

.btn7 {
    grid-area: btn7;
}

.btn8 {
    grid-area: btn8;
}

.btn9 {
    grid-area: btn9;
}

.btn10 {
    grid-area: btn-;
}

.btn11 {
    grid-area: btnS;
}

.btn12 {
    grid-area: btnX;
}

.btn13 {
    grid-area: btnUndo;
}
.btn14 {
    grid-area: btnF;
}
