.loginPage {
    margin: 0 5rem;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 1rem;
}

label {
    font-weight: bold;
    font-size: 1.5rem;
}

input {
    height: 2rem;
    border: solid thin black;
    border-radius: .3rem;
    padding: 0 .4rem;
    font-size: 1.2rem;
}

.LoginForm > .btn {
    margin-left: auto;
}

