

/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.GameHistoryTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.GameHistoryTable thead tr {
    color: #000000;
    outline: solid thin black;
    text-align: center;
}

.GameHistoryTable th,
.GameHistoryTable td {
    padding: 12px 15px;
}

.GameHistoryTable tbody tr {
    border-bottom: thin solid #6b6a6a;
}

.GameHistoryTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.GameHistoryTable tbody tr:last-of-type {
    border-bottom: thin solid rgb(182, 182, 182);
}

.GameHistoryTable tbody tr.active-row {
    font-weight: bold;
    color: var(--main-color-light);
}

.delete-btn {
    border: 2px solid black;
    border-radius: .5rem;
    background-color: rgb(145, 12, 12);
    color: white;
    padding: .4rem 1rem;
}

.delete-btn:hover {
    cursor: pointer;
    background-color: red;
}
